header {
    font-family: 'Georgia', Times, Times 'Times New Roman', serif;

}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

main {
    /*width: 960px;*/
    background-image: url("assets/images/dust_scratches.png");
    padding-bottom: 6%;
    padding-top: 10%;
    background-image: url(assets/images/dust_scratches.png);
}

h1 {
    color: teal;

}

nav {
    /*padding: 25px 25px 25px 50px;*/
    background-color: white;
    margin-bottom: 50px;
    width: 960px;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 0.01%;


}

.name-nav {
    float: left;
    color: white;
    background-color: teal;
    padding: 8px;
}

.anchor-nav{
    float: right;
    padding: 10px
}

.maincontent {
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    width: 960px;
    flex: 1 0 auto; 
    background-image: url(assets/images/dust_scratches.png);
    
    
}

.footer {
    flex-shrink: 0;
    width: 100%;
    color: white;
    background-color: #666666;
    text-align: center;
    padding: 30px;


}

.headshot {
    float: left;
    height: 200px;
}